<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Task Admin - GHCorp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<link href="assets/img/favicon.png" rel="icon">-->
  <link href="assets/img/ghtransparent.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/gh.png" alt="">
        <span class="d-none d-lg-block">GHCorp</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
          </a>
        </li><!-- End Search Icon-->
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">Hello!</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/signout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>Task Analysis</span>
        </a>
      <li class="nav-item">
        <a class="nav-link " href="/admin">
          <i class="bi bi-grid"></i>
          <span>Task Admin</span>
        </a>
      </li><!-- End Admin Nav -->
      <li class="nav-item">
        <a class="nav-link " href="/speechtotext">
          <i class="bi bi-grid"></i>
          <span>Speech to Text</span>
        </a>
      </li><!-- End Speech to Text Nav -->
<!--       <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li> -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Task Admin</h1>
      <nav>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Task Schedule -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

 

                <div class="card-body">
                  <h5 class="card-title">Task Schedule<span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%for (var result in res){%>
                       <tr>

                        <th scope="row"> <button onclick="var desc = document.getElementById('activitycard'); desc.textContent = '<%=res[result].description%>'; "><%=res[result].name%></button> </th>
                        <td><%=res[result].author%> - <%=res[result].downloads%></td>
                        <td><span class="<%=res[result].status%>"><%=res[result].message%></span></td>

                        <td><form action="/admin" method="post"><button name = "delete" value = "<%=res[result].name%>" class="btn btn-primary w-50">X</button></form></td> </tr>
                    <%}%>
                     <!--  <tr>
                        <th scope="row"><a href="#">Task 1</a></th>
                        <td>Time1 - Time2</td>
                        <td><span class="badge bg-success status">Completed</span></td>
                        <td><button class="btn btn-primary w-50">X</button></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">Task 2</a></th>
                        <td>Time1 - Time2</td>
                        <td><span class="badge bg-warning status">Active</span></td>
                        <td><button class="btn btn-primary w-50">X</button></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">Task 3</a></th>
                        <td>Time1 - Time2</td>
                        <td><span class="badge bg-danger status">Incoming</span></td>
                        <td><button class="btn btn-primary w-50">X</button></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">Task 4</a></th>
                        <td>Time1 - Time2</td>
                        <td><span class="badge bg-danger status">Incoming</span></td>
                        <td><button class="btn btn-primary w-50">X</button></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">Task 5</a></th>
                        <td>Time1 - Time2</td>
                        <td><span class="badge bg-danger status">Incoming</span></td>
                        <td><button class="btn btn-primary w-50">X</button></td>
                      </tr> -->
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Task Schedule -->
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Task Description -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Task Description</span></h5>

              <div class="activty">
                <p id="activitycard"></p>

              </div>

            </div>
          </div><!-- End Recent Activity -->
        </div><!-- End Right side columns -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Add a New Task</h5>
              <form class="row g-3 needs-validation" action = "/admin" method = "post">
                <div class="col-12">
                  <label for="taskName" class="form-label">Task Name</label>
                  <input type="text" name="cname" class="form-control" id="cname" required>
                  <div class="invalid-feedback">Please enter a task name!</div>
                </div>
      
                <div class="col-12">
                  <label for="taskStart" class="form-label">Task Start Time (Format: Hour:Min)</label>
                  <input type="text" name="tStart" class="form-control" id="tStart" required>
                  <div class="invalid-feedback">Please enter the task start time!</div>
                </div>

                <div class="col-12">
                  <label for="taskEnd" class="form-label">Task End Time (Format: Hour:Min)</label>
                  <input type="text" name="tEnd" class="form-control" id="tEnd" required>
                  <div class="invalid-feedback">Please enter the task end time!</div>
                </div>
    
              <div class="col-12">
                <label for="taskDescription" class="form-label">Task Description</label>
                <input type="text" name="cdesc" class="form-control" id="cdesc" required>
                <div class="invalid-feedback">Please enter the task description!</div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Create New Task</button>
              </div>
              </form>
            </div>
          </div>
        </div>
          
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">Modified by <strong><span>GHCorp</span></strong>.</div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> and <a href="mailto:givinghopecorps@gmail.com">GHCorp</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RNXE11H56N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RNXE11H56N');
</script>


</body>

</html>